@charset "UTF-8";
/* blog */
#blog{
	.wp-pagenavi{
		.current{
			@include add_prefix(appearance, none);
			line-height: 42px;
			font-weight: normal;
			display: inline-block;
			vertical-align: middle;
			@include font-smooth;
		}
	}
}

.leftCol {
	width:70%;
	float:left;
}
.rightCol {
	width:30%;
	float:right;
}

.cmsContent {
	-webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    word-wrap: break-word;
	ul,ol {
        padding-left: 20px;
        margin-bottom: 20px;
      }
      ul {
        li {
          list-style: disc;
        }
      }
      ol {
        li {
          list-style-type: decimal;
        }
      }
	p { margin-bottom: 30px };
	img{
		max-width:100%;
		height:auto;
		max-height:100%;
		width:auto;
	}
}

.pagingDt {
	position:relative;
	width:80%;
	margin:95px auto;
	font-size:14px;
}
.pagingDt a {
	text-decoration:underline;
}
.pagingDt .prev {
	background:url(../../img/blog/ico_prev.png) no-repeat left center;
	width:145px;
	float:left;
	padding-left:20px;	
}
.pagingDt .next {
	background:url(../../img/blog/ico_next.png) no-repeat right center;
	width:145px;
	float:right;
	padding-right:20px;	
}
.pagingDt .list {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-54px;
	margin-top:-9px;
}
