@charset 'UTF-8';
#top{
	.banner{
		height: 700px;
		background: transparent url('../img/top/banner01.jpg')no-repeat scroll center center;
		background-size: cover;
		@include max-screen(767px){
			height: calc(100vh - 55px);
			background: transparent url('../img/top/banner01_sp.jpg')no-repeat scroll center center;
			background-size: cover;
		}
	}
	.main-content{
		.descriptions{
			margin: auto;
			padding: 112px 0 84px;
			background: transparent url('../img/common/bg/bg_wave_01.png')no-repeat scroll top -160px right 24px;
			@include font-size(15);
			line-height: 2;
			letter-spacing: 0.02em;
			text-align: center;
			@include max-screen(767px){
				@include font-size(13);
				line-height: 1.8;
				text-align: left;
				margin: auto;
				padding: 68px 0 63px;
				background: transparent url('../img/common/bg/bg_wave_06.png')no-repeat scroll right -95px bottom -60px;
				background-size: 332px auto;
			}
		}
		.imgs_demo{
			//margin-bottom: 69px;
			@include max-screen(767px){
				//height: 175px;
				margin-bottom: 0;
			}
		}
	}
	
}