@charset "UTF-8";
@font-face {
    font-family: 'dinbold';
    src: url('../font/dinbold-webfont.eot');
    src: url('../font/dinbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dinbold-webfont.woff2') format('woff2'),
         url('../font/dinbold-webfont.woff') format('woff'),
         url('../font/dinbold-webfont.ttf') format('truetype'),
         url('../font/dinbold-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.dinbold {
	font-family: 'dinbold';
}

@font-face {
    font-family: 'dinlight';
    src: url('../font/dinlight-webfont.eot');
    src: url('../font/dinlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dinlight-webfont.woff2') format('woff2'),
         url('../font/dinlight-webfont.woff') format('woff'),
         url('../font/dinlight-webfont.ttf') format('truetype'),
         url('../font/dinlight-webfont.svg#dinlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.dinlight {
	font-family: 'dinlight';
}
@font-face {
    font-family: 'dinregular';
    src: url('../font/dinregular-webfont.eot');
    src: url('../font/dinregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dinregular-webfont.woff2') format('woff2'),
         url('../font/dinregular-webfont.woff') format('woff'),
         url('../font/dinregular-webfont.ttf') format('truetype'),
         url('../font/dinregular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.dinregular {
	font-family: 'dinregular';
}
@font-face {
    font-family: 'dinmedium';
    src: url('../font/dinmedium-webfont.eot');
    src: url('../font/dinmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dinmedium-webfont.woff2') format('woff2'),
         url('../font/dinmedium-webfont.woff') format('woff'),
         url('../font/dinmedium-webfont.ttf') format('truetype'),
         url('../font/dinmedium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.dinmedium {
	font-family: 'dinmedium';
}
@import "mixin";

/*-----------------------------------------------------------
clearfix
------------------------------------------------------------*/
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	line-height: 0;
}
.clearfix {display: inline-block;}
/* exlude MacIE5 \*/
* html .clearfix {height: 1%}
.clearfix {display: block;}
/* end MacIE5 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*-----------------------------------------------------------
reset
------------------------------------------------------------*/
img {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	border: 0;
}
table img {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	border: 0;
}
p {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
input, textarea {
	margin: 0;
	font-size: 100%;
	resize: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
dl, dt, dd, th, td {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	/*font-size: 100%;*/
	font-weight: normal;
	margin: 0;
	padding: 0;
}
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display: block;}
nav ul {list-style: none;}

/*-----------------------------------------------------------
Link
------------------------------------------------------------*/
a {
	outline: none;
	transition:0.3s;
}
a:link {
	color: $colortext;
	text-decoration: none;
}
a:visited {
	color: $colortext;
	text-decoration: none;
}
a:hover {	
	text-decoration: none;
	@include min-screen(768px) {
		color: #aaa;
		opacity: 0.5;
	}
}
a:active {
	color: $colortext;
	text-decoration: none;
}

/*-----------------------------------------------------------
FONT family
------------------------------------------------------------*/
.ffN {font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.ffM {font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*-----------------------------------------------------------
PAGE BOOT
------------------------------------------------------------*/
/* MovableType */
div#pageBoot {
	margin: 35px 0 60px 0;
	text-align: center;
}
div#pageBoot a {
	color: #aaa;
	text-decoration: none !important;
}
span.current_page {
	color: #FFFFFF;
	padding: 5px;
	border: 1px solid #aaa;
	background-color: #aaa;
}
a.link_page {
	padding: 5px;
	border: 1px solid #aaa !important;
}
a.link_page:hover {
	padding: 5px;
	border: 1px solid #aaa;
	background-color: #aaa;
	color: #FFFFFF !important;
}
/* WordPress */

.wp-pagenavi {
	clear: both;
	text-align: center;
	letter-spacing: 0.1em;
	@include font-size(16);
	margin: 85px 0;
	@include max-screen(767px) {
		margin: 40px 0;
	}
	a, span {
		display: inline-block;
		vertical-align: middle;
		@include border-radius(3px);
		line-height: 42px;
	}
	.last, .first, .smaller,.extend,
	.larger {display: none;}
	a:hover {
		opacity: 0.6;
		@include transition_all;
	}
	.previouspostslink {
		color: #fff;
		background: #2FE0C9;
		padding-top: 3px;
		@include font-size(24);
		
		@include border-radius(0);
		width: 80px;
		padding-left: 20px;
		text-align: center;
		margin-right: 20px;
		position: relative;
		@include max-screen(767px) {
			margin-right: 10px;
			@include max-screen(320px) {
				padding-left: 15px;
				width: 70px;
			}
		}
		&:after {
			content: "";
			position: absolute;
			left: 11px;
			top: 50%;
			width: 7px;
			height: 7px;
			margin-top: -4px;
			border-left: 2px solid #fff;
			border-top: 2px solid #fff;
			-moz-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	.current {
		border: 1px solid #C7C7C7;
		width: 50px;
		text-align: center;
		@include border-radius(0);
		margin-right: 10px;
		@include max-screen(320px) {
			width: 36px;
			margin-right: 5px;
		}
	}
	.nextpostslink {
		color: #fff;
		background: #2FE0C9;
		padding-top: 3px;
		@include font-size(24);
		
		@include border-radius(0);
		width: 80px;
		padding-right: 20px;
		text-align: center;
		margin-left: 20px;
		position: relative;
		@include max-screen(767px) {
			margin-left: 10px;
			@include max-screen(320px) {
				width: 70px;
				padding-right: 15px;
			}
		}
		&:after {
			content: "";
			position: absolute;
			right: 11px;
			top: 50%;
			width: 7px;
			height: 7px;
			margin-top: -4px;
			border-left: 2px solid #fff;
			border-top: 2px solid #fff;
			-moz-transform: rotate(135deg);
			-webkit-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			transform: rotate(135deg);
		}
	}
}
/*-----------------------------------------------------------
Body
-------------------------------------------------------------*/
body {
	width: 100%;
	color: $colortext;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	letter-spacing: 0;
	font-family: 'Roboto', sans-serif;
	@include font-size(15);
	height: 100%;
	word-break: break-word;
	overflow-x: hidden; 
	//@include font-smooth;
	&.active{
		@include max-screen(767px){
			touch-action:none;
		}
	}
	@include min-screen(768px){
		padding-top: 79px;
	}
	@include max-screen(767px){
		padding-top: 55px;
		@include font-size(13);
	}
}

.fDIN {
	font-family: 'DIN', sans-serif;
}


/*-----------------------------------------------------------
 Container/Maincontent
------------------------------------------------------------*/
.container {
	max-width: $widthcm;
	height: auto;
	padding: 0 30px;
	margin: 0 auto 10px auto;
	@include clearfix;
	@include max-screen(767px){
		padding: 0 17px;
	}
	&-1500{
		max-width: 1536px;
		padding: 0 17px;
		margin: auto;
	}
	&-1400{
		max-width: 1436px;
		padding: 0 17px;
		margin: auto;
	}
	&-1300{
		max-width: 1336px;
		padding: 0 17px;
		margin: auto;
	}
	&-1200{
		max-width: 1236px;
		padding: 0 17px;
		margin: auto;
	}
	&-1100{
		max-width: 1136px;
		width: 100%;
		padding: 0 17px;
		margin: auto;
	}
	&-1000{
		max-width: 1036px;
		padding: 0 17px;
		margin: auto;
	}
	&-900{
		max-width: 936px;
		width: 100%;
		padding: 0 17px;
		margin: auto;
	}
	&-800{
		max-width: 836px;
		width: 100%;
		padding: 0 17px;
		margin: auto;
	}
}

/*-----------------------------------------------------------
common
------------------------------------------------------------*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.sp {
	
	@include min-screen(768px) {
		display: none!important;
	}
}

.pc {
	@include max-screen(767px) {
		display: none!important;
	}
}
img {
	max-width:100%;
	height:auto;
}
img {
	max-width:100%;
}
.wcm {
	width: $widthcm;
	margin:auto;
}


/*-----------------------------------------------------------
Some stuff from bootstrap
------------------------------------------------------------*/
html {
	font-size: 62.5%;
	@include add_prefix(text-size-adjust, 100%);
	@include add_prefix(font-feature-settings, "palt");
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  clear: both;
  &:after, &:before {content: ""; display: table; clear: both;}
}

@for $i from 1 to 12 {
	.col-xs-#{$i},
	.col-sm-#{$i},
	.col-md-#{$i},
	.col-lg-#{$i} {
	  position: relative;
	  min-height: 1px;
	  padding-left: 15px;
	  padding-right: 15px;
	}
	.col-xs-#{$i} {
		float: left;
		width: 8.33333333% * #{$i};
	}
	.col-xs-pull-#{$i} {
	  right: 8.33333333% * #{$i};
	}
	.col-xs-push-#{$i} {
		right: 8.33333333% * #{$i};
	}
	.col-xs-offset-#{$i} {
	  margin-left: 8.33333333% * #{$i};
	}
}
@media (min-width: 768px) {
	@for $i from 1 to 12 {
		.col-sm-#{$i} {
			float: left;
			width: 8.33333333% * #{$i};
		}
		.col-sm-pull-#{$i} {
		  right: 8.33333333% * #{$i};
		}
		.col-sm-push-#{$i} {
			right: 8.33333333% * #{$i};
		}
		.col-sm-offset-#{$i} {
		  margin-left: 8.33333333% * #{$i};
		}
	}
}
@media (min-width: 992px) {
	@for $i from 1 to 12 {
		.col-md-#{$i} {
			float: left;
			width: 8.33333333% * #{$i};
		}
		.col-md-pull-#{$i} {
		  right: 8.33333333% * #{$i};
		}
		.col-md-push-#{$i} {
			right: 8.33333333% * #{$i};
		}
		.col-md-offset-#{$i} {
		  margin-left: 8.33333333% * #{$i};
		}
	}
}
@media (min-width: 1200px) {
	@for $i from 1 to 12 {
		.col-lg-#{$i} {
			float: left;
			width: 8.33333333% * #{$i};
		}
		.col-lg-pull-#{$i} {
		  right: 8.33333333% * #{$i};
		}
		.col-lg-push-#{$i} {
			right: 8.33333333% * #{$i};
		}
		.col-lg-offset-#{$i} {
		  margin-left: 8.33333333% * #{$i};
		}
	}
}


.fade { opacity: 0; @include transition_c(opacity 0.15s linear); }
.fade.in { opacity: 1; }
.collapse { display: none; }
.collapse.in { display: block; }
tr.collapse.in { display: table-row; }
tbody.collapse.in { display: table-row-group; }
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include add_prefix(transition-property, "height, visibility");
  @include add_prefix(transition-duration, 0.35s);
  @include add_prefix(transition-timing-function, ease);
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
	.close {
	  float: right;
	  font-size: 21px;
	  font-weight: bold;
	  line-height: 1;
	  color: #000000;
	  text-shadow: 0 1px 0 #ffffff;
	  opacity: 0.2;
	  filter: alpha(opacity=20);
		&:hover,
		&:focus {
		  color: #000000;
		  text-decoration: none;
		  cursor: pointer;
		  opacity: 0.5;
		  filter: alpha(opacity=50);
		}
	}
	button.close {
	  padding: 0;
	  cursor: pointer;
	  background: transparent;
	  border: 0;
	  -webkit-appearance: none;
	}
}
.modal.fade .modal-dialog {
	@include transform_c(translate(0, -25%));
	@include transition_c(transform 0.3s ease-out);
}
.modal.in .modal-dialog {
  @include transform_c(translate(0, 0));
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  @include add_prefix(box-shadow, 0 3px 9px rgba(0, 0, 0, 0.5));
  @include add_prefix(background-clip, padding-box);
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close { margin-top: -2px; }
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn { margin-left: -1px; }
.modal-footer .btn-block + .btn-block { margin-left: 0; }
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content { @include add_prefix(box-shadow, 0 5px 15px rgba(0, 0, 0, 0.5)); }
  .modal-sm { width: 300px; }
}
@media (min-width: 992px) {
  .modal-lg { width: 900px; }
}
.clyellow{
	color:$cl_yellow;
}
strong{
	font-style: normal;
}