.banner{
	text-align: center;
	text-transform: uppercase;
	color: $cl_white;
	display: table;
	margin: auto;
	vertical-align: middle;
	width: 100%;
	&-wrap{
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
	h1{
		@include font-size(60);
		line-height: 1.16;
		letter-spacing: 0.02em;
		@extend .dinbold;
		text-shadow:1px 1px 5px $cl_black01;
		@include font-smooth;
		@include max-screen(767px){
			@include font-size(44);
			max-width: 290px;
			margin: auto;
		}
	}
	.sub{
		@include font-size(30);
		line-height: 1.5;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		font-style: italic;
		font-weight: bold;
		text-shadow:1px 1px 5px $cl_black01;
		@include max-screen(767px){
			@include font-size(22);
		}
	}
}
.imgs_demo{
	overflow: hidden;
	ul{
		@include resetfl;
		text-align: center;
		padding: 0 7px;
		@include max-screen(767px){
			padding: 0 4px;
		}
		li{
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 0 7px;
			@include max-screen(767px){
				padding: 0 4px;
			}
			img{
				width: 100%;
				max-width: none;
			}
		}
	}
	.slick-slider{
		margin-bottom: 0;
	}
	.slick-list{
		@include max-screen(767px){
			overflow: visible;
			width: 66vw;
		}
	}	
	.slick-prev{
		left: 0;
		width: 37px;
		height: 37px;
		background: #000;
		z-index: 2;
		&:before{
			content: "";
			left: 50%;
			top: 50%;
			width: 7px;
			height: 7px;
			position: absolute;
			border-top: 2px solid $cl_white;
			border-left:2px solid $cl_white;
			@include transform_c(rotate(-45deg) translate(20%,-50%));
			background: transparent;
			opacity: 1;
		}
	}
	.slick-next{
		left: auto;
		right: 0;
		width: 37px;
		height: 37px;
		background: #000;
		z-index: 2;
		&:before{
			content: "";
			left: 50%;
			top: 50%;
			width: 7px;
			height: 7px;
			position: absolute;
			border-top: 2px solid $cl_white;
			border-right:2px solid $cl_white;
			@include transform_c(rotate(45deg) translate(-80%,-5%));
			background: transparent;
			opacity: 1;
		}
	}
}
.btn_detail{
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: auto;
	a{
		display: block;
		padding: 20px 0 18px;
		position: relative;
		background-color: $cl_black02;
		color: $cl_white;
		width: 246px;
		letter-spacing: 0.03em;
		@extend .dinmedium;
		margin: auto;
		@include max-screen(767px){
			width: 100%;
			max-width: 280px;
			padding: 15px 0 16px;
		}
		&:after{
			content: "";
			position: absolute;
			right: 17px;
			top: 45%;
			width: 7px;
			height: 7px;
			border-top: 1px solid $cl_white;
			border-right: 1px solid $cl_white;
			@include transform_c(rotate(45deg));
		}
	}
}
.btn_contact{
	a{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		max-width: 350px;
		padding: 18px 0;
		position: relative;
		@extend .dinmedium;
		color: $cl_white;
		text-transform: uppercase;
		background-color: $cl_gold01;
		font-weight: normal;
		@include font-size(18);
		@include max-screen(767px){
			@include font-size(14);
			padding: 15px 0 14px;
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			right: 20px;
			width: 7px;
			height: 7px;
			border-top: 1px solid $cl_white;
			border-right: 1px solid $cl_white;
			@include transform_c(rotate(45deg) translate(0,-50%));
		}
	}
}
.box{
	&-menu{
		padding: 69px 0 85px;
		background: transparent url('../img/common/bg/bg_wave_02.png')no-repeat scroll left 71% center;
		@include max-screen(767px){
			padding: 58px 0 70px;
			background: transparent url('../img/common/bg/bg_wave_05.png')no-repeat scroll right -176px bottom -21px;
			background-size: 483px auto;
		}
		.container-1300{
			padding: 0 35px;
			@include clearfix;
			@include max-screen(767px){
				padding: 0 17px;
			}
		}
		.texts{
			float: left;
			width: 53.8%;
			letter-spacing: 0.02em;
			line-height: 2;
			margin-top: 59px;
			margin-bottom: 47px;
			padding-right: 6.05%;
			@include max-screen(767px){
				width: 100%;
				float: none;
				margin-top: 0;
				margin-bottom: 28px;
				padding: 0;
				line-height: 1.8;
			}
			.box-title{
				margin-bottom: 17px;
				@include max-screen(767px){
					margin-bottom: 14px;
				}
			}
		}
		.imgs{
			float: right;
			width: 46.2%;
			@include max-screen(767px){
				float: none;
				width: 100%;
				margin-bottom: 33px;
			}
			ul{
				margin: 0 -6px;
				@include resetfl;
				@include max-screen(767px){
					margin: 0 -4px;
				}
				li{
					display: inline-block;
					vertical-align: top;
					width: 50%;
					padding: 0 6px 11px;
					@include max-screen(767px){
						padding: 0 4px 7px;
					}
				}
			}
		}
		.btn_detail{
			float: left;
			width: 53.8%;
			@include max-screen(767px){
				float: none;
				width: 100%;
			}
			a{
				margin: 0 auto 0 0;
				@include max-screen(767px){
					margin: auto;
				}
			}
		}
	}
	&-title{
		@include font-size(40);
		@extend .dinmedium;
		color: $cl_black02;
		text-transform: uppercase;
		line-height: 1.5;
		letter-spacing: 0.02em;
		@include max-screen(767px){
			@include font-size(30);
			text-align: center;
			
		}
	}
	&-img-store{
		img{
			display: block;
			width: 100%;
			max-width: none;
		}
	}
	&-news_campaign{
		padding: 106px 0 100px;
		background: transparent url('../img/common/bg/bg_wave_03.png')no-repeat scroll left top 20px;
		text-align: center;
		@include max-screen(767px){
			padding: 59px 0 72px;
			background: transparent url('../img/common/bg/bg_wave_04.png')no-repeat scroll left -133px bottom -4px;
			background-size: 378px auto;
		}
		.box-title{
			margin-bottom: 43px;
			@include max-screen(767px){
				margin-bottom: 8px;
			}
		}
	}
	&-list-three{
		@include resetfl;
		margin: auto -17px 62px;
		@include max-screen(767px){
			margin: auto -17px 30px;
		}
		li{
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 0 17px;
			text-align: left;
			@include max-screen(767px){
				width: 100%;
				padding: 10px 17px;
			}
			a{
				display: block;
				@include clearfix;
			}
			.img{
				display: block;
				@include max-screen(767px){
					float: left;
					width: 33.7%;
					margin-right: 20px;
					position: relative;
					height: 0;
					padding-bottom: 33.7%;
					overflow: hidden;
					img{
						height: 100%;
						width: auto;
						max-width: none;
						position: absolute;
						left: 50%;
						top: 50%;
						@include transform_c(translate(-50%,-50%));
					}
				}
			}
			.date{
				display: block;
				color: $cl_gold01;
				@include font-size(15);
				line-height: 1.45;
				letter-spacing: 0.05em;
				margin: 15px 0 9px;
				@include max-screen(767px){
					@include font-size(13);
					margin: -3px 0 2px;
				}
			}
			.title{
				display: block;
				@include font-size(15);
				line-height: 1.45;
				letter-spacing: 0.02em;
				display: block;
				display: -webkit-box;
				max-width: 100%;
				max-height: 43px;
				margin: 0 auto;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				@include max-screen(767px){
					@include font-size(13);
					-webkit-line-clamp: 3;
					max-height: 66px;
					line-height: 1.8;
				}
			}
		}
	}
}
