.archor_list_a{
	max-width: 1030px;
	width: 100%;
	margin: auto;
	/* ul{
		@include resetfl;
		li{
			@include inline-middle;
			padding: 0 15px;
			width: 25%;
			&:first-child{
				a{
					span{
						color: $cl_green01;
					}
				}
			}
			a{
				display: block;
				border-top:1px solid $cl_black01; 
				border-bottom:1px solid $cl_black01;
				padding: 10px 35px 10px 15px;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					right: 15px;
					top: 50%;
					width: 6px;
					height: 6px;
					border-right: 2px solid $cl_black01;
					border-bottom: 2px solid $cl_black01;
					@include transform_c(rotate(45deg) translate(-50%,-50%));
				}
				span{
					display: inline-block;
					@include font-size(18);
					font-weight: bold;
					line-height: 1.5;
				}
			}
		}
	} */
}