.contact-info-box{
	display: table;
	width: 100%;
	min-height: 350px;
	background-color: $cl_gray01;
	@include max-screen(767px){
		padding-top: 45px;
	}
	.infob{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		text-align: center;
		@include max-screen(767px){
			width: auto;
			display: block;
			margin: 0 17px 49px;
		}
		h2{
			@include font-size(34);
			@extend .dinmedium;
			text-transform: uppercase;
			color: $cl_black02;
			letter-spacing: 0.02em;
			margin-bottom: 5px;
			@include max-screen(767px){
				@include font-size(23);
			}
		}
		p{
			@include font-size(14);
			letter-spacing: 0.05em;
			@include max-screen(767px){
				@include font-size(13);
			}
		}
		.phone_worktime{
			margin: 17px auto 19px;
			@include max-screen(767px){
				background-color: $cl_white;
				padding: 17px 0px;
				margin: 25px auto 21px;
				max-width: 350px;
			}
			span{
				@include font-size(14);
				display: inline-block;
				vertical-align: middle;
				text-align: left;
				margin: 0 15px;

				@include max-screen(767px){
					display: block;
					width: auto;
					padding: 0;
					margin: auto;
					@include font-size(12);
					text-align: center;
					max-width: 290px;
					letter-spacing: 0.03em;
					&:first-child{
						letter-spacing: 0;
					}
				}
				label{
					@extend .dinmedium;
					@include max-screen(767px){
						color: $cl_black02;
						@include font-size(14);
						line-height: 1.2;
						display: inline-block;
						vertical-align: middle;
						font-weight: bold;
						text-align: left;
					}
				}
				em{
					@include max-screen(767px){
						margin: 0 4px 0 5px;
						font-style: normal;
						font-weight: normal;
						@include font-size(16);
						@include font-smooth;
						display: inline-block;
					}
				}
				i{
					display: inline-block;
					vertical-align: middle;
					img{
						@include max-screen(767px){
							width: 23px;
							height: 23px;
						}
					}
				}
				b{
					@extend .dinmedium;
					@include font-size(40);
					display: inline-block;
					vertical-align: middle;
					color: $cl_gold01;
					font-weight: normal;
					@include max-screen(767px){
						@include font-size(32);
						@include font-smooth;
						line-height: 1;
					}
				}
			}
		}
		
	}
	.mapb{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		overflow: hidden;
		position: relative;
		@include max-screen(767px){
			width: 100%;
			display: block;
			height: 0;
			padding-bottom: 57.3333%;
		}
		iframe{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
}