footer{
	background-color: $cl_black02;
	@include clearfix;
	padding: 31px 0 0;
	.btn_2top{
		position: fixed;
		right: 40px;
		bottom: 40px;
		background-color: $cl_black02;
		@include max-screen(767px){
			right: 17px;
			bottom: 17px;
		}
		a{
			display: block;
			width: 59px;
			height: 59px;
			position: relative;
			@include max-screen(767px){
				width: 50px;
				height: 50px;
			}
			&:after{
				content: "";
				top: 50%;
				left: 50%;
				position: absolute;
				width: 12px;
				height: 12px;
				border-top: 2px solid $cl_white;
				border-right: 2px solid $cl_white;
				@include transform_c(rotate(-45deg) translate(-25%,-50%));
				@include max-screen(767px){
					width: 8px;
					height: 8px;
				}
			}
		}
	}
	.left{
		float: left;
		@include max-screen(767px){
			float: none;
		}
		.address{
			@include font-size(15);
			color: $cl_white;
			font-weight: normal;
			letter-spacing: 0.02em;
			@include max-screen(767px){
				@include font-size(13);
			}
		}
		.sns{
			@include max-screen(767px){
				text-align: center;
				margin: 35px auto 5px;
			}
		}
		.logo{
			a{
				display: inline-block;
				img{
					@include max-screen(767px){
						width: 105px;
						height: 24px;
					}
				}
			}		
		}
	}
	.right{
		float: right;
		@include max-screen(767px){
			float: none;
		}
		ul{
			display: grid;
			grid-column-gap: 67px;
			grid-row-gap: 15px;
			grid-template-columns: auto auto auto;
			li{
				a{
					@include font-size(16);
					@extend .dinmedium;
					text-transform: uppercase;
					color: $cl_white;
					position: relative;
					padding-left: 10px;
					&:before{
						content: "";
						position: absolute;
						left: 0;
						top: 50%;
						width: 5px;
						height: 2px;
						background-color: $cl_white;
						font-weight: normal;
					}
				}
			}
		}
	}
	.copyright{
		margin: 27px 47px 0;
		padding: 12px 0 0;
		border-top: 1px solid $colortext;
		@include max-screen(767px){
			margin: 15px 17px 5px;
			padding: 7px 0 0;
		}
		.text{
			@include font-size(12);
			line-height: 2.4;
			color: $cl_white;
			font-weight: bold;
			@include font-smooth;
			letter-spacing: 0.01em;
			float: left;
			@include max-screen(767px){
				@include font-size(10);
				float: none;
				text-align: center;
			}
		}
		.swap-lang{
			float: right;
			p{
				display: inline-block;
				vertical-align: middle;
				margin-left: 15px;
				a{
					display: block;
					color: $cl_white;
					letter-spacing: 0.05em;
				}
				img{
					display: block;
				}
				label{
					@include font-size(17);
					color: $cl_white;
					@extend .dinmedium;
					margin: 0 5px;
					&.active{
						color: $cl_gold01;
					}
				}
			}
		}
	}
}