header{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10;
	background-color: $cl_white;
	&.active{
		@include max-screen(767px){
			height: 100%;
			.menu_sp{
				height: auto;
			}
		}
	}
	.header_wrap{
		padding: 0 0 0 32px;
		@include max-screen(767px){
			padding: 0 0 0 17px;
		}
		.logo{
			float: left;
			padding: 22px 0 0;
			@include max-screen(767px){
				padding: 0;
			}
			a{
				display: block;
				@include max-screen(767px){
					padding: 14px 0 13px;
					img{
						display: block;
						width: 122px;
						height: 28px;
					}
				}
			}
		}
	}
	.header_menu{
		float: right;
		ul{
			@include resetfl;
			li{
				display: inline-block;
				vertical-align: middle;
				margin-right: 60px;
				text-transform: uppercase;
				@include font-size(18);
				img{
					display: block;
					margin: auto;
				}
				span{
					display: block;
					@include font-size(12);
					letter-spacing: 0.02em;
					line-height: 1.4;
				}
				a{
					display: block;
					color: $cl_black02;
				}
				&.active{
					a{
						border-bottom: 2px solid $cl_black01;
					}
				}
				&.reserve{
					background-color: $cl_gold01;
					margin-right: 0;
					span{
						line-height: 1.5;
					}
					b{
						@include font-size(20);
						@extend .dinmedium;
						color: $cl_white;
						letter-spacing: 0.05em;
					}
					a{
						padding: 26px 23px 23px ;
						@include font-smooth;
					}
				}
				i{
					display: inline-block;
					vertical-align: middle;
					margin-right: 12px;
				}
				b{
					display: inline-block;
					vertical-align: middle;
					@include font-size(18);
					@extend .dinmedium;
					color: $cl_black01;
					font-weight: normal;
				}
				&.phone-worktime{
					margin-right: 25px;
					text-align: center;
					text-transform: none;
					a{
						pointer-events:none;
					}
					i{
						margin-right: 8px;
					}
					b{
						@include font-size(25);
						letter-spacing: 0.02em;
					}
				}
				&.swap-lang{
					letter-spacing: 3px;
					margin-right: 50px;
					label{
						display: inline-block;
						vertical-align: middle;
						text-transform: uppercase;
						&.active{
							color: $cl_gold01;
						}
					}
				}
				&.shop-info{
					margin-right: 42px;
				}
				&.menu{
					margin-right: 59px;
				}
			}
		}
		.sp{
			@include resetfl;
			.btn_menu,.reserve,.phone{
				display: inline-table;
				vertical-align: middle;
				width: 55px;
				height: 55px;
			}
			.btn_menu{
				&.active{
					span{
						background-color: transparent;
						&:before{
							left: 2px;
							@include transform_c(rotate(39deg));
						}
						&:after{
							left: 2px;
							@include transform_c(rotate(-39deg));
						}
					}
				}
			}
			.reserve{
				background-color: $cl_gold01;
				img{
					@include max-screen(767px){
						width: 20px;
						height: 21px;
					}
				}
			}
			.phone{
				background-color: $cl_black01;
			}
			span{
				height: 2px;
				width: 45%;
				background-color: $cl_black01;
				display: block;
				margin: calc(50% - 1px) auto auto;
				position: relative;
				@include transition_c(all $time_set);
				&:before{
					content: "";
					position: absolute;
					top: -8px;
					width: 100%;
					height: 2px;
					background-color: $cl_black01;
					@include transition_c(all $time_set);
					@include add_prefix(transform-origin,0 100%);
				}
				&:after{
					content: "";
					position: absolute;
					top: 8px;
					width: 100%;
					height: 2px;
					background-color: $cl_black01;
					@include transition_c(all $time_set);
					@include add_prefix(transform-origin,0 0);
				}
			}
			a{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				width: 100%;
				height: 100%;
			}
		}
	}
	.menu_sp{
		height: 0;
		overflow: hidden;
		@include min-screen(768px){
			display: none;
		}
		ul{
			border-bottom: 1px solid $colortext;
			li{
				border-top: 1px solid $colortext;
				a{
					@extend .dinmedium;
					display: block;
					text-transform: uppercase;
					position: relative;
					@include font-size(14);
					text-align: center;
					color: $cl_black02;
					line-height: 1.6;
					padding: 14px ;
					&:after{
						content: "";
						position: absolute;
						top: 50%;
						right: 20px;
						width: 7px;
						height: 7px;
						border-right: 1px solid $cl_black01;
						border-top: 1px solid $cl_black01;
						@include transform_c(rotate(45deg) translate(0,-50%));
					}
				}
			}
		}
		.swap-lang{
			display: table;
			margin: auto;
			a{
				display: block;
				@include font-size(15);
				@extend .dinmedium;
				label{
					display: inline-block;
					vertical-align: middle;
					margin: 0 5px;
					&.active{
						color: $cl_gold01;
					}
				}
			}
		}
	}
	.phone_worktime{
		background-color: $cl_gold01;
		color: $cl_white;
		text-align: center;
		margin: 30px 17px 22px;
		@include max-screen(345px){
			margin: 30px 5px 22px;
		}
		a{
			display: block;
			padding: 15px 0px 10px;
		}
		.phone{
			max-width: 290px;
			margin: auto;
			span{
				@include font-size(13);
				line-height: 1;
				display: inline-block;
				vertical-align: middle;
				color: $cl_white;
			}
			i{
				display: inline-block;
				vertical-align: middle;
			}
			b{
				@include font-size(32);
				color: $cl_white;
				display: inline-block;
				vertical-align: middle;
				@extend .dinmedium;
				font-weight: normal;
			}
		}
		.worktime{
			color: $cl_white;
			padding: 10px 0;
			border-top: 1px solid $cl_white;
			letter-spacing: 0.02em;
			@include font-size(13);
			max-width: 290px;
			margin: auto;
		}
	}
}