@charset "utf-8";
//@include add_prefix(transform-origin, 100% 0);


/* argument */
$border1: #c4c6c6 solid 1px;
$colortext: #555;
$colortxt1: #fff;
$colorbg1: #000;
$widthcm: 1060px;

$time_set : .35s;
$cl_gray01:#DDD;
$cl_gray02:#D8D8D8;
$cl_gray03:#707070;
$cl_gray04:#B7B7B7;
$cl_gray05:#DBDBDB;
$cl_gray06:#F7F7F7;
$cl_gray07:#969696;
$cl_white:#FFF;
$cl_lightgreen01:#E5FFFC;
$cl_green01:#21D6BE;
$cl_green02:#30C9B5;
$cl_green03:#E4F7F4;
$cl_green04:#34CC1A;
$cl_green05:#2CBF13;

$cl_lightblue01:#95DFFF;
$cl_lightblue02:#6CCDF7;
$cl_lightblue03:#50C6F8;
$cl_lightblue04:#E7F5FC;
$cl_red01:#ED6A5A;
$cl_red02:#F47C6D;
$cl_lightpink01:#FFF4F7;
$cl_pink01:#F781A6;
$cl_yellow:#FFE74C;
$cl_yellow02:#FFFADD;


$cl_white : #fff;
$cl_black01:#2C2C2C;
$cl_black02:#282828;
$cl_gold01:#C59D5F;
$cl_gray01:#f1eee8;

/* site style */
@mixin text-hide{
	overflow: hidden;
	text-indent: -9999px;
}


/* [ opacity ]
-------------------------------------------------*/
@mixin opacity($num){
	-ms-filter: alpha(opacity=$num); /* IE8 */
	opacity: $num/100;
	//display: inline-block\9;
}

/* [ display style ]
-------------------------------------------------*/
@mixin display-table{
	display: table;
	> *{
		display: table-cell;
		vertical-align: middle;
	}
}
@mixin height-match{
	display: block;
	text-align: center;
	> *{
		vertical-align: middle;
		display: inline-block;
	}
	&:before{
		content:"";
		height: 100%;
		vertical-align: middle;
		width: 0;
		display: inline-block;
	}
}


/* [ background-image ]
-------------------------------------------------*/
@mixin bgimg($url,$rep:repeat,$pos:left top,$color:none,$size:auto) {
	background-image: url($url);
	background-repeat: $rep;
	background-position: $pos;
	background-color: $color;
	background-size: $size;
}

/* reset font-size ,  line-height */
@mixin resetfl{
	@include font-size(0);
	letter-spacing: 0;
}
@mixin inline-middle(){
	display: inline-block;
	vertical-align: middle;
}
@mixin font-smooth(){
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing : grayscale;
}
@mixin reset-font-smooth(){
	-webkit-font-smoothing:auto;
	-moz-osx-font-smoothing : auto;
}
/* font */

@mixin remove-appear{
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	box-shadow: none;
	border:none;
}
@mixin din{
	font-family: 'DIN', sans-serif;
}
@mixin transition_all {
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@keyframes move01 {
    from {
    	opacity: 0;
		@include transform_c(translate(-50%,10px));
    }
    to {
    	opacity: 1;
    	@include transform_c(translate(-50%,0px));
    }
}
@keyframes move02 {
    from {
    	opacity: 0;
    	bottom: -100px;
		//@include transform_c(translate(0,-200px));
    }
    to {
    	opacity: 1;
    	bottom: 0px;
    	//@include transform_c(translate(0,0));
    }
}
@keyframes move02_a {
    from {
    	opacity: 0;
    	bottom: -100px;
		//@include transform_c(translate(0,-200px));
    }
    to {
    	opacity: 1;
    	bottom: 100px;
    	//@include transform_c(translate(0,0));
    }
}
@keyframes move02_b {
    from {
    	opacity: 0;
    	bottom: -80px;
		//@include transform_c(translate(0,-200px));
    }
    to {
    	opacity: 1;
    	bottom: 80px;
    	//@include transform_c(translate(0,0));
    }
}
@keyframes move03 {
    from {
    	opacity: 1;
    	bottom: 0px;
		//@include transform_c(translate(0,0px));
    }
    to {
    	opacity: 0;
    	bottom: -100px;
    	//@include transform_c(translate(0,-200px));
    }
}
@keyframes move03_a {
    from {
    	opacity: 1;
    	bottom: 100px;
		//@include transform_c(translate(0,0px));
    }
    to {
    	opacity: 0;
    	bottom: -100px;
    	//@include transform_c(translate(0,-200px));
    }
}
@keyframes move03_b {
    from {
    	opacity: 1;
    	bottom: 80px;
		//@include transform_c(translate(0,0px));
    }
    to {
    	opacity: 0;
    	bottom: -80px;
    	//@include transform_c(translate(0,-200px));
    }
}
@keyframes move05{
	from{
		left: 100%;
		//opacity: 0;
	}
	to{
		left: 0;
		//opacity: 1;
	}
}
@keyframes move06{
	from{
		left: 100%;
		//opacity: 0;
	}
	to{
		left: 10px;
		//opacity: 1;
	}
}
@keyframes movetext01{
	from{
		opacity: 0;
		@include transform_c(translate(50%,0));
	}
	to{
		opacity: 1;
		@include transform_c(translate(0%,0));
	}
}
@keyframes movetext02{
	from{
		opacity: 0;
		@include transform_c(translate(10%,0));
	}
	to{
		opacity: 1;
		@include transform_c(translate(0%,0));
	}
}
